<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    <a href="#" class="navbar-brand p-0" data-page="home">
        <img src="img/logo_polkessin.png" alt="Logo" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 me-n3">
            <a href="#" class="nav-item nav-link" data-page="home">Beranda</a>
            <a href="#" class="nav-item nav-link" data-page="layanan">Layanan</a>
            <a href="#" class="nav-item nav-link" data-page="lab-bahasa">Lab Bahasa</a>
            <a href="#" class="nav-item nav-link" data-page="tim-upb">Tim UPB</a>
            <a href="#" class="nav-item nav-link" data-page="informasi">Informasi</a>
            <a href="#" class="nav-item nav-link" data-page="kontak">Kontak</a>
            <a href="https://poltekkes-banjarmasin.ac.id/" target="_blank" rel="noopener noreferrer" class="nav-item nav-link d-lg-none"><i class="fa fa-external-link-alt me-2"></i>Website Kampus</a>
        </div>
    </div>
</nav>
